# Node
node_modules/
.next/
dist/
build/

# Python
venv/
__pycache__/
*.pyc
.env

# OS
.DS_Store

#Ml+MLops
wandb/
services/connect/spotify_test.py
services/connect/.spotify_cache
services/connect/spotify_test01.py
services/connect/.cache
services/connect/steam_data_76561199839671797.json
services/connect/steam_test.py
