SUPABASE_URL=https://skgmoimraducfxfgtzie.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrZ21vaW1yYWR1Y2Z4Zmd0emllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMyNDM4MiwiZXhwIjoyMDg4OTAwMzgyfQ.Crh0-C9Ab59VM6XvvT6JpymduE2EchIw1Sa0xcfLQ2Q

